APP_NAME=Laravel
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mongodb
MONGODB_URI=mongodb://root:password@mongodb
MONGODB_DATABASE=library_db

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

MONGO_EXPRESS_ADMIN_USER=admin
MONGO_EXPRESS_ADMIN_PASSWORD=password
MONGODB_ROOT_USER=root
MONGODB_ROOT_PASSWORD=password
